@use './partials/mixins' as *;
@use './partials/variables' as *;

main{
    height: 100vh;
    background-color: darkred;

    .img-fluid{
        max-width: 30%;
    }
}

.pokedex{
    margin: 0 auto;
    height: 70vh;
    width: 100%;
    background-color: white;
    overflow-y: auto;
}